//  Primary button
@button-primary__color: @color-white;
@button-primary__hover__color: @color-white;
@button-primary__background: @color-orange-red1;
@button-primary__hover__background: @color-blue1;
@button-primary__border: 0px solid @color-orange-red2;
@button-primary__hover__border: 0px solid @color-orange-red2;